*{
  box-sizing: border-box;
}
.app_wrapper {
  display: grid;
  grid-template-areas: "header header header" "sitebar cont cont";

  grid-template-rows: 60px 1ft;
  grid-template-columns: 2fr 15fr;
  grid-gap: 10px;
  height: 1000px;
}

.app-wrapper-container{
  grid-area: cont;
  background-color: chartreuse;
  height: 100vh;
  display: grid;
}